<% include header %>
<% if(!session.user){ %>
<link rel="stylesheet" href="/css/login.css">
<% } %>
<link rel="stylesheet" href="/css/home.css">
<script src="./js/ajax.js"></script>
<% include nav %>

<% if(!session.user){ %>
<% include login %>
<% } %>


<div class="article-tap padmar">
    <ul class="tip">
        <li class="all"><a href="javascript:;" class="label label-default">All</a></li>
        <li class="Still-Life"><a href="javascript:;" class="label label-default">Still-Lifes</a></li>
        <li class="Seascape"><a href="javascript:;" class="label label-default">Seascapes</a></li>
        <li class="Flowers"><a href="javascript:;" class="label label-default">Flowers Still-Lifes</a></li>
        <li class="Vanitas"><a href="javascript:;" class="label label-default">Vanitas Still-Lifes</a></li>
        <li class="Annunciation"><a href="javascript:;" class="label label-default">The Annunciation</a></li>
    </ul>
</div>

<div class="center-block article-list">
    <% articles.forEach(function(post){ %>
    <div class="content row">
        <div class="col-md-6">
            <a href="/articledetail/<%= post.id %>" target="_blank">
                <img src="<%=post.IMGURL%>" loading="lazy" alt="Unnamed image" width="400" height="auto">
            </a>
        </div>
        <div class="col-md-6">
            <div class="content-info">
                <h3 class="title"><%= post.Title %></h3>
                <p class="author"><%= post.Author %></p>
                <p class="times"><%= post.Date %></p>
                <p class="label label-info"><%= post.Type %></p>
                <span><i class="fa fa-heart" style="color:red"></i>&nbsp;<%= post.likes %>&nbsp;&nbsp;&nbsp;&nbsp;<i
                        class="fa fa-comment"
                        style="color: skyblue"></i>&nbsp;<%= post.comments %>&nbsp;&nbsp;&nbsp;&nbsp;<span
                        class="pv-item">views&nbsp;<span class="pv"><%= post.pv %></span></span>

            </div>
        </div>
    </div>

    <% }) %>
    <% if(!postsPageLength){ %>
    <div class="nothing">
        <p><i class="fa fa-list-alt"></i></p>
        <p>Nothing here</p>
    </div>
    <% } %>
</div>
<div style="width:50%; margin-left:25%; margin-top: 30px;text-align:center;" class="pagination" id="page"></div>
<script src="/js/pagination.js"></script>
<script>
    window.onload = function () {
        if ('<%= type %>' == 0) {
            $('.tip li').eq(0).find('a').attr('class', 'label label-info');
        } else {
            $(".<%=type%>").find('a').attr('class', 'label label-info');
        }
    }
    pagination({
        selector: '#page',
        totalPage: '<%= postsPageLength %>',
        currentPage: 1,
        prev: 'Previous Page',
        next: 'Next Page',
        first: true,
        last: true,
        showTotalPage: true,
        count: 2 //当前页前后显示的数量
    }, function (val) {
        // 当前页
        $.ajax({
            url: "articles/page?type=<%=type%>",
            type: 'POST',
            data: {
                page: val
            },
            cache: false,
            success: function (msg) {
                console.log(msg)
                if (msg != false) {
                    $('.article-list').html(' ')
                    $.each(msg, function (i, val) {
                        console.log(val.name)
                        $('.article-list').append(

                            "<div class='content row'>" +
                            "<div class='col-md-6'>" +
                            '<a href="/articledetail/' + val.id + '" target="_blank">' +
                            '<img src= " ' + val.IMGURL +
                            "loading='lazy' alt='Unnamed image' width='400' height='auto'>" +
                            "</a>" +
                            "</div>" +
                            "<div class='col-md-6'>" +
                            "<div class='content-info'>" +
                            "<h3 class='title'>" + val.Title + "</h3>" +

                            "<p class='Author'>" + val.Author + "</p>" +

                            "<p class='times'>" + val.Date + '</p>' +

                            '<p class="label label-info">' + val.Type + '</p> ' +



                            '<span><i class="fa fa-heart" style="color:red"></i>&nbsp' +
                            val.likes +
                            '&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-comment" style="color: skyblue"></i>&nbsp;<span>' +
                            val.comments +
                            '&nbsp;&nbsp;&nbsp;&nbsp;<span class="pv-item">' +
                            'views&nbsp;<span class="pv">' +
                            val.pv + "</span></span>" +
                            "</div>" +
                            "</div>" +
                            "</div>"
                        )
                    })
                } else {
                    alert('No more')
                }
            }
        })

    })

    let articleTap = document.getElementsByClassName('article-tap')[0].getElementsByClassName('tip')[0];
    articleTap.onclick = function (e) {
        //  let e = e||window.e;
        let target = e.target || e.srcElement;
        // let lis = articleTap.getElementsByTagName('li');
        // console.log(lis)
        if (target.nodeName == 'A') {
            let type = target.parentNode.getAttribute('class');
            if (type === 'all') {
                window.location.href = '/home';
            } else {
                window.location.href = '/home?type=' + type;
                target.setAttribute('class', 'label label-info');
            }
        }
    }
</script>
<% include footer %>