<% include header %>
<% if(!session.user){ %>
<link rel="stylesheet" href="/css/login.css">
<% } %>
<% include nav %>
<% if(!session.user){ %>
<% include login %>
<% } %>


<div class="article-tap padmar">
    <ul class="tip">
        <li class="all"><a href="javascript:;" class="label label-default">All</a></li>
        <li class="Still-Life"><a href="javascript:;" class="label label-default">Still-Lifes</a></li>
        <li class="Seascape"><a href="javascript:;" class="label label-default">Seascapes</a></li>
        <li class="Flowers"><a href="javascript:;" class="label label-default">Flowers Still-Lifes</a></li>
        <li class="Vanitas"><a href="javascript:;" class="label label-default">Vanitas Still-Lifes</a></li>
        <li class="Annunciation"><a href="javascript:;" class="label label-default">The Annunciation</a></li>
    </ul>
</div>

<div class="center-block container article-list">
    <% articles.forEach(function(res){ %>
    <div class="content row">
        <div class="col-md-6">
            <a href="/articledetail/<%= res.id %>" target="_blank">
                <img src="<%=res.IMGURL%>" loading="lazy" alt="Unnamed image" width="400" height="auto">
            </a>
        </div>
        <div class="col-md-6">
            <div class="content-info">
                <h3 class="title"><%= res.Title %></h3>
                <p class="author"><%= res.Author %></p>
                <p class="times"><%= res.Date %></p>
                <p class="label label-info"><%= res.Type %></p>
                <span><i class="fa fa-heart" style="color:red"></i>&nbsp;<%= res.likes %>&nbsp;&nbsp;&nbsp;&nbsp;<i
                        class="fa fa-comment"
                        style="color: skyblue"></i>&nbsp;<%= res.comments %>&nbsp;&nbsp;&nbsp;&nbsp;<span
                        class="pv-item">views&nbsp;<span class="pv"><%= res.pv %></span></span>

            </div>
        </div>
    </div>

    <% }) %>
    <% if(!postsPageLength){ %>
    <div class="nothing">
        <p><i class="fa fa-list-alt"></i></p>
        <p>Nothing here</p>
    </div>
    <% } %>
</div>
<div><ul class="pagination justify-content-center" style="padding-top: 30px" id="page"><ul></div>
<script src="/js/pagination.js"></script>
<script>
    window.onload = function () {
        if ('<%= type %>' == 0) {
            $('.tip li').eq(0).find('a').attr('class', 'label label-info');
        } else {
            $(".<%=type%>").find('a').attr('class', 'label label-default');
        }
    }
    pagination({
        selector: '#page',
        totalPage: '<%= postsPageLength %>',
        currentPage: 1,
        prev: 'Previous',
        next: 'Next',
        first: false,
        last: false,
        showTotalPage: false,
        count: 1 //当前页前后显示的数量
    }, function (val) {
        // 当前页
        $.ajax({
            url: "articles/page?type=<%=type%>",
            type: 'POST',
            data: {
                page: val
            },
            cache: false,
            success: function (msg) {
                console.log(msg)
                if (msg != 'false') {
                    $('.article-list').html(' ')
                    $.each(msg, function (i, val) {
                        $('.article-list').append(
                            '<div class=\"content row\">' +
                            '<div class=\"col-md-6\">' +
                            '<a href=\"/articledetail/' + val.id + '\" target=\"_blank\">' +
                            '<img src= \"' + val.IMGURL +'\" loading=\"lazy\" alt=\"Unnamed image\" width=\"400\" height=\"auto\"/>' +
                            '</a>' +
                            '</div>' +
                            '<div class=\"col-md-6\">' +
                            '<div class=\"content-info\">' +
                            '<h3 class=\"title\">' + val.Title + '</h3>' +
                            '<p class=\"Author\">' + val.Author + '</p>' +
                            '<p class=\"times\">' + val.Date + '</p>' +
                            '<p class=\"label label-info\">' + val.Type + '</p> ' +
                            '<span><i class=\"fa fa-heart\" style=\"color:red\"></i>&nbsp' +
                            val.likes +
                            '&nbsp;&nbsp;&nbsp;&nbsp;<i class=\"fa fa-comment\" style=\"color: skyblue\"></i>&nbsp;<span>' +
                            val.comments +
                            '&nbsp;&nbsp;&nbsp;&nbsp;<span class=\"pv-item\">' +
                            'views&nbsp;<span class=\"pv\">' +
                            val.pv + '</span></span>' +
                            '</div>' +
                            '</div>' +
                            '</div>'
                        )
                    })
                    $('html, body').animate({scrollTop:0}, 'slow');
                } else {
                    alert('No more')
                }
            }
        })

    })

    let articleTap = document.getElementsByClassName('article-tap')[0].getElementsByClassName('tip')[0];
    articleTap.onclick = function (e) {
        //  let e = e||window.e;
        let target = e.target || e.srcElement;
        // let lis = articleTap.getElementsByTagName('li');
        // console.log(lis)
        if (target.nodeName.toLowerCase() == 'a') {
            let type = target.parentNode.getAttribute('class');
            if (type === 'all') {
                window.location.href = '/home';
            } else {
                window.location.href = '/home?type=' + type;
                target.setAttribute('class', 'label label-info');
            }
        }
    }
</script>
<% include footer %>