<% include header %>
<link rel="stylesheet" href="/css/personal.css">
<link rel="stylesheet" href="/css/selfArticle.css">
<% if(!session.user){ %>
<link rel="stylesheet" href="/css/login.css">
    <% } %>
<% include nav %>
<% if(!session.user){ %>
    <% include login %>
<% } %>
<div class="container person">
        <div class="head padmar">
            <img src="/images/<%= userInfo.avator %>" alt="" class="img-circle imgs"/>
            <div class="user-title">
                <h3><%= userInfo.name %></h3>
                <p class="job"><i class="fa fa-briefcase"></i> <%= userInfo.job %></p>
                <p class="company"><i class="fa fa-building"></i> <%= userInfo.company %></p>
                <p class="introduce"><i class="fa fa-hand-peace-o"></i> <%= userInfo.introdu %></p>
            </div>
            <div class="title-right">
                <ul>
                    <li class="selfs"><a href="<%= userInfo.github %>" title="github"><i class="fa fa-github"></i></a></li>
                    <li class="selfs"><a href="<%= userInfo.userhome %>" title="Website"><i class="fa fa-home"></i></a></li>
                </ul>
            <% if(session&&session.user===userInfo.name){ %>
                <p class="edit">
                    <!--     <a href=""><button class="btn article">Post</button></a>   -->
                         <a href="/personalInfo?user=<%= userInfo.name %>"><button class="btn info">Edit</button></a>
                     </p>
            <% }else{ %>
                <p class="edit">
                    <!--     <a href=""><button class="btn article">Post</button></a>   -->
                         <a href="/personalInfo?user=<%= userInfo.name %>"><button class="btn info">Your Profile</button></a>
                     </p>
            <% } %>
            </div>
        </div>

        <div class="main">
            <div class="news ">
                       
                <div class="nothing">
                        <p><i class="fa fa-list"></i></p>
                        <p>Nothing Here</p>
                </div>
                   
            </div>
        </div>  
    </div>
    <script src="/js/ajax.js"></script>
    <script>
        getData('/selfArticle/<%= userInfo.id %>');
        function getData(url){
            ajax('get',url,null);
            xhr.onreadystatechange = function(){
                if(xhr.readyState==4&&xhr.status>=200&&xhr.status<300){
                    let news = document.getElementsByClassName('news')[0];
                    if(xhr.responseText!='0'){                     
                        news.innerHTML = xhr.responseText;
                    }else{
                        news.innerHTML = '<div class="nothing">'+
                                            '<p><a class="fa fa-list"></a></p>' +
                                            '<p>Nothing Here</p>' +
                                         '</div>'
                    }
                }
            }
        }

      
          
    </script>
</body>

</html>
