<% include header %>
<link rel="stylesheet" href="/css/personalInformation.css">
<% if(!session.user){ %>
<link rel="stylesheet" href="/css/login.css">
    <% } %>
<% include nav %>
<% if(!session.user){ %>
    <% include login %>
<% } %>
<div class="information-table padmar">
    <h2>Profile</h2>
     <span class="err">Error</span>
   <% if(session&&session.user===user.name){ %>
    <div class="change"><a href="javascript:;" id="edit">Edit</a><a href="javascript:;" id="save">Save</a><a href="javascript:;" id="cancel">Cancel</a></div>
    <% } %>
    <form  role="form">
        <ul>
            <% if(session&&session.user===user.name){ %>
            <li><span>Photo</span><img src="images/<%= user.avator %>" alt="" class="img-head"><input type="hidden"></li>
            <% }else{ %>
                <li><span>Photo</span><img src="images/<%= user.avator %>" alt="" class="img-head"><input type="hidden"></li>

            <% } %>
            <li><span>Username</span><input type="text" name="username" placeholder="Name" value="<%= user.name %>" readonly></li>
            <li><span>Job</span><input type="text" name="job" placeholder="Job" value="<%= user.job %>" readonly></li>
            <li><span>Company</span><input type="text" name="company" placeholder="Company" value="<%= user.company %>" readonly></li>
            <li><span>Bio</span><input type="text" name="introduce" placeholder="Add a bio" value="<%= user.introdu %>" readonly></li>
            <li><span>Website</span><input type="text" name="address" placeholder="Website" value="<%= user.userhome %>" readonly></li>
            <li><span>GitHub</span><input type="text" name="github" placeholder="GitHub" id="dk" value="<%= user.github %>" readonly></li>
            <input type="hidden" id="blod">
        </ul>
    </form>
</div>
<% if(session&&session.user===user.name){ %>
<script>

    var edit = document.getElementById('edit'),
        save = document.getElementById('save'),
        cancel = document.getElementById('cancel');

    var inputs = document.getElementsByTagName('input'),
        len = inputs.length,
        inputArr = new Array();
    edit.onclick = function () {    //Edit
        save.style.display = "block";
        cancel.style.display = "block";
        this.style.display = "none";
        for(let i = 2; i<len; i++){
            inputs[i].removeAttribute('readonly');
            inputArr.push(inputs[i].value)
        }
        console.log(inputArr)
    }

    cancel.onclick = function () {  //Cancel Edit
        for(let i = 2; i<len; i++){
            inputs[i].value = inputArr[i-2];
            inputs[i].setAttribute('readonly',true);
        }
        inputArr = [];
        save.style.display = "none";
        this.style.display = "none";
        edit.style.display = "block";
    }

    save.onclick = function () {    //Save
        let dataStr;
        let  inputs = document.getElementsByTagName('input');
            dataStr = 'username=' + inputs[2].value + '&'+
                      'job=' + inputs[3].value + '&'+
                      'company=' + inputs[4].value + '&'+
                      'introduce=' + inputs[5].value + '&'+
                      'address=' + inputs[6].value + '&'+
                      'github=' + inputs[7].value;
        console.log(dataStr)
        ajax('post','/personalInfo',dataStr,'application/x-www-form-urlencoded');
        xhr.onreadystatechange = function () {
            if((xhr.readyState==4&&xhr.status>=200&&xhr.status<300)&&xhr.responseText=='true') {
                cancel.style.display = "none";
                save.style.display = "none";
                edit.style.display = "block";
                for(let i = 2; i<len; i++){
                    inputs[i].setAttribute('readonly',true);
                    inputArr = [];
                    inputArr.push(inputs[i].value);
                }

            }else {
                var err = document.getElementsByClassName('err')[0];
                err.style.display = 'inline';
                setTimeout(()=>{
                    err.style.display = 'none';
                },1000);

            }
        }
    }

</script>
<% } %>
<% include footer %>
